//商品列表灰階
.gray {
  background-color: $bg-3;
}
//激活綠
.on {
  color: $active-g;
}
//取消紅
.off {
  color: $active-r;
}
//線
.line {
  width: 100%;
  height: 1px;
  margin: 16px;
  background-color: $text-ll;
  position: relative;
  left: -16px;
}
